<robot name="movingbox_model">

  <!-- root link -->
  <link name="base_footprint">
   <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0.0 0 0" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link_box" />
  </joint>

  <!-- actual model -->
  <link name="base_link_box">
    <inertial>
      <mass value="50" />
      <origin xyz="0 0 0" />
      <inertia ixx="50.0" ixy="0.0" ixz="0.0"
        iyy="50.0" iyz="0.0"
        izz="50000.0" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.2 0.2 0.1" /> 
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.2 0.2 0.1" /> 
      </geometry> 
    </collision>
  </link>

  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
  </gazebo>

</robot>